# Ignore everything
*

# But not these files...
#!.gitignore  # ignore gitignore in swarm repo to prevent contaminating downstream custom gitignores

!src
!src/
!src/*
!src/**

!libs
!libs/
!libs/*
!libs/**

!Maps
!Maps/
!Maps/*
!Maps/**

!*.txt

#but do ignore this file
